<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <title>Artic</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section>
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-start">
                    <a href="" class="navbar-item">Accueil</a> <!-- TODO: Ajouter le lien vers la page d'accueil -->
                    <a href="" class="navbar-item">Recherche</a> <!-- TODO: Ajouter le lien vers la page de recherche -->
                    <a href="" class="navbar-item">Gestion</a> <!-- TODO: Ajouter le lien vers la page de gestion -->
                </div>

                <div class="navbar-end">
                    <a href="" class="navbar-item">Profil</a> <!-- TODO: Ajouter le lien vers la page de profil -->
                    <a href="" class="navbar-item">Déconnexion</a> <!-- TODO: Ajouter le lien vers la page de déconnexion -->
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <h2>Accueil</h2>
    </div>
</section>
</body>
</html>