<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <title>Artic</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section>
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-start">
                    <a th:href="@{/}" class="navbar-item">Accueil</a>
                    <a th:href="@{/search}" class="navbar-item">Recherche</a>
                    <a th:href="@{/gestion}" class="navbar-item">Gestion</a>
                </div>

                <div class="navbar-end">
                    <a th:href="@{/profile}" class="navbar-item">Profil</a>
                    <a th:href="@{/logout}" class="navbar-item">Logout</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <h2>Accueil</h2>
    </div>
</section>
</body>
</html>